<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10009_attack_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,134},{136,158}}</string>
                <key>offset</key>
                <string>{-55,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,173},{136,158}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10009_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,134},{174,152}}</string>
                <key>offset</key>
                <string>{-45,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,179},{174,152}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10009_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,288},{206,230}}</string>
                <key>offset</key>
                <string>{-46,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,101},{206,230}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10009_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{260,142}}</string>
                <key>offset</key>
                <string>{44,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,189},{260,142}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10009_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{160,128}}</string>
                <key>offset</key>
                <string>{-41,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,203},{160,128}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10009_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{130,142}}</string>
                <key>offset</key>
                <string>{-36,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,189},{130,142}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10009_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,148}}</string>
                <key>offset</key>
                <string>{-26,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,183},{110,148}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10009_attack_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{136,158}}</string>
                <key>offset</key>
                <string>{-55,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,173},{136,158}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10009_attack.png</string>
            <key>size</key>
            <string>{498,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e413a62f17a79044fb34db5210665af$</string>
            <key>textureFileName</key>
            <string>10009_attack.png</string>
        </dict>
    </dict>
</plist>
