<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10001_hurt_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{112,158}}</string>
                <key>offset</key>
                <string>{-19,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,143},{112,158}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10001_hurt_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,132}}</string>
                <key>offset</key>
                <string>{-46,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,169},{166,132}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10001_hurt.png</string>
            <key>size</key>
            <string>{250,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc513bba5fee5f7e24955eb9fc8f92e2$</string>
            <key>textureFileName</key>
            <string>10001_hurt.png</string>
        </dict>
    </dict>
</plist>
