<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fish_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{264,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,388}</string>
			</dict>
			<key>fish_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,388},{264,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,388}</string>
			</dict>
			<key>fish_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,0},{264,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,388}</string>
			</dict>
			<key>fish_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,0},{264,384}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,388}</string>
			</dict>
			<key>fish_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,384},{264,383}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,388}</string>
			</dict>
			<key>fish_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,0},{262,383}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,388}</string>
			</dict>
			<key>fish_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,383},{258,381}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,388}</string>
			</dict>
			<key>fish_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,773},{250,376}}</string>
				<key>offset</key>
				<string>{7,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,388}</string>
			</dict>
			<key>fish_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,776},{244,363}}</string>
				<key>offset</key>
				<string>{10,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,388}</string>
			</dict>
			<key>fish_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1099,723},{244,338}}</string>
				<key>offset</key>
				<string>{10,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,388}</string>
			</dict>
			<key>fish_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1299,312},{240,303}}</string>
				<key>offset</key>
				<string>{12,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,388}</string>
			</dict>
			<key>fish_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1539,292},{242,270}}</string>
				<key>offset</key>
				<string>{11,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,388}</string>
			</dict>
			<key>fish_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1682,562},{240,265}}</string>
				<key>offset</key>
				<string>{12,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,388}</string>
			</dict>
			<key>fish_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1773,0},{239,272}}</string>
				<key>offset</key>
				<string>{12,15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,388}</string>
			</dict>
			<key>fish_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1437,615},{245,283}}</string>
				<key>offset</key>
				<string>{9,19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,388}</string>
			</dict>
			<key>fish_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1534,0},{239,292}}</string>
				<key>offset</key>
				<string>{12,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,388}</string>
			</dict>
			<key>fish_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1295,0},{239,312}}</string>
				<key>offset</key>
				<string>{12,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,388}</string>
			</dict>
			<key>fish_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,0},{241,328}}</string>
				<key>offset</key>
				<string>{11,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,388}</string>
			</dict>
			<key>fish_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1050,383},{249,340}}</string>
				<key>offset</key>
				<string>{7,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,388}</string>
			</dict>
			<key>fish_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,767},{256,360}}</string>
				<key>offset</key>
				<string>{4,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,388}</string>
			</dict>
			<key>fish_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,388},{264,385}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,388}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ButterFly.png</string>
			<key>realTextureFileName</key>
			<string>ButterFly.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>